# Frontend
VITE_COGNITO_USER_POOL_ID=eu-west-3_xxxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxx
VITE_API_URL=http://localhost:3000

# Backend
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/quinileague
FOOTBALL_DATA_TOKEN=your_football_data_token_here
